<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.teampome.pome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.PomeApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.PomeAndroid">
        <activity
            android:name=".presentation.login.screens.KakaoLoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.record.emotion.AfterCompleteEmotionActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.record.emotion.AfterSelectEmotionActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.record.screens.RecordLookBackActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.login.screens.SignUpActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.login.screens.SignUpContentActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="false"/>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.teampome.pome.util.TimberInitializer"
                android:value="androidx.startup" />
        </provider>

        <activity
            android:name=".presentation.login.screens.AddFriendActivity"
            android:exported="false" />

    </application>

</manifest>